<html>
    <head>
        <title><%= id %></title>
        <link rel="stylesheet" href="/static/style.css">
        <script data-cfasync="false" src="/static/jwplayer/jwplayer.js"></script>
        <script data-cfasync="false" src="/static/jwplayer.hlsjs.min.js"></script>
        <script data-cfasync="false" src="/static/hls.js"></script>
        <script data-cfasync="false" src="/static/p2p-media-loader-core.min.js"></script>
        <script data-cfasync="false" src="/static/p2p-media-loader-hlsjs.min.js"></script>
        <meta name="referrer" content="no-referrer">
        <script>
            jwplayer.key = "W7zSm81+mmIsg7F+fyHRKhF3ggLkTqtGMhvI92kbqf/ysE99";
            const id = "<%= id %>"
        </script>

    </head>
        <body>
            <div id="player">
            </div>
            <script data-cfasync="false" src="/static/jquery.min.js"></script>
            <script data-cfasync="false" src="/static/init.js"></script>
        </body>
</html>
