<html>

<head>
    <link rel="stylesheet" href="/dist/player.css">
    <meta name="referrer" content="no-referrer">
</head>

<body>
    <div id="player"></div>
    <script data-cfasync="false" src="/dist/jwplayer/jwplayer.js"></script>
    <script>jwplayer.key = "W7zSm81+mmIsg7F+fyHRKhF3ggLkTqtGMhvI92kbqf/ysE99"; const id = "<%= id %>"</script>
    <script data-cfasync="false" src="/dist/player.js"></script>
</body>

</html>